# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files and folders
*.tmp
*.temp
*.bak
*.orig

# Keep example file
!.env.example
